body{
    padding: 50px; 
    background : rgb(0, 24, 44);
    color: #ffffff;

}

#container-main{
    width: 450px;
}

.text{
    font-size: 30px;

}

#text-generate-a{
    font-weight: bold;
    margin-bottom: 1px;
}

#text-rand-password{
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 10px;
    color: rgb(34, 227, 143);
}



#pitch{
    font-size: 15px;
    color: rgb(189, 188, 188);
}

#btn-generate{
    margin-top: 40px;

}

button{
    padding: 8px 10px;
    border-radius: 7px;
    color: white; 
    background: rgb(28, 185, 117);
    border: 0px;
}


#empty{
    width: 430px; 
    margin-left: 20px;
    height: 2px; 
    background-color: rgb(0, 39, 71);
    margin-top: 35px;
}


.output-area{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(20, 226, 137);

    width: 490px;
}

#pass-1{
    width: fit-content;
    padding: 15px 30px;
    background-color: rgb(1, 33, 57);
    border-radius: 10px;
    word-break: break-all;

}
#pass-2{
    width: fit-content;
    padding: 15px 30px;
    background-color: rgb(1, 33, 57);
    border-radius: 10px;
    word-break: break-all;
}

button:hover{
    background: rgb(19, 133, 84);
    color: whitesmoke
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

input::placeholder {
  color: rgb(18, 202, 122);
  opacity: 1;
}

input{
    background-color: rgb(1, 33, 57);
    border: 0px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-right: 10px;
    color: rgb(18, 202, 122);

    width: 170px;
}